.vercel
# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias locales de Yarn
.pnp.*
.yarn/

# Directorios de cobertura de pruebas
coverage/

# Archivos de configuración de entorno
.env
.env.*.local

# Directorios de compilación
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de IDE y editor de código
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos temporales
*.swp
*.swo
*.bak
*.tmp
